# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [2]:
df1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [4]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [5]:
# Reto 1: Combinar y Limpiar Datos

# Mi idea es crear una función para limpiar los datos.
# Así puedo aplicar la misma limpieza a los tres dataframes antes de juntarlos.
# Me parece más ordenado que juntar todo y luego limpiar el dataframe gigante.

def limpiar_dataframe(df):
    # Primero, corrijo los nombres de las columnas: minúsculas y guiones bajos.
    # El código de mi compañera usaba rename para 'st', yo lo hago todo en una línea.
    columnas_nuevas = {col: col.lower().replace(' ', '_').replace('st', 'state') for col in df.columns}
    df = df.rename(columns=columnas_nuevas)
    
    # Arreglo los valores raros en la columna 'gender'. Uso .loc porque me resulta fácil de leer.
    if 'gender' in df.columns:
        df.loc[df['gender'].isin(['Femal', 'female']), 'gender'] = 'F'
        df.loc[df['gender'] == 'Male', 'gender'] = 'M'
    
    # Corrijo la columna 'education'
    if 'education' in df.columns:
        df['education'] = df['education'].replace('Bachelors', 'Bachelor')
        
    # Limpio los nulos. Me voy a cargar todas las filas que estén completamente vacías.
    df.dropna(how='all', inplace=True)
    
    return df


# Aplico la función de limpieza a cada uno de los tres dataframes.
df1_limpio = limpiar_dataframe(df1.copy()) # Uso .copy() por si acaso, para no modificar el original
df2_limpio = limpiar_dataframe(df2.copy())
df3_limpio = limpiar_dataframe(df3.copy())

# Ahora que los tres están limpios, los junto (concateno) en un solo dataframe.
# `ignore_index=True` es para que el índice del nuevo dataframe sea continuo (0, 1, 2...).
datos_combinados = pd.concat([df1_limpio, df2_limpio, df3_limpio], ignore_index=True)

# Ahora hago una limpieza final sobre el dataframe ya combinado.

# Elimino la columna 'customer' porque no me aporta mucho para el análisis.
# Mi compañera no lo hizo, pero a mí me parece que sobra.
if 'customer' in datos_combinados.columns:
    datos_combinados = datos_combinados.drop(columns=['customer'])

# Elimino duplicados. Si una fila es exactamente igual a otra, la quito.
datos_combinados.drop_duplicates(inplace=True)

# Muestro las primeras filas para ver cómo ha quedado.
print("Vista previa del dataframe combinado y limpio:")
print(datos_combinados.head())

print("Dimensiones finales del dataframe:")
print(datos_combinados.shape)

Vista previa del dataframe combinado y limpio:
  custateomer       state gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below

  custateomer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0

  number_of_open_complaints     policy_type  vehicle_class  \
0                    1/0/00   Personal Auto  Four-Door Car
1                    1/0/00   Personal Auto  Four-Door Car
2                    1/0/00   Personal Auto   Two-Door Car
3                    1/0/00  Corporate Auto            SUV
4                    1/0/00   Personal Auto  Four-Door Car

   total_claim_amount stateate
0            2.704934      NaN
1         1131.464935      NaN
2          566.472247      NaN
3          529.881344      NaN
4           17.269323      NaN
Dimensiones finales del dataframe:
(9134, 12)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [6]:
# Reto 2: Estructurar Datos

# Cargo el nuevo archivo CSV para este reto.
df_marketing = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

# 1. Tabla pivote: ingresos totales por canal de venta.
print("Análisis de ingresos por canal de venta:")

# Creo la tabla pivote.
# Quiero ver la suma de 'total_claim_amount' para cada 'sales_channel'.
tabla_ingresos = df_marketing.pivot_table(
    index='sales_channel', 
    values='total_claim_amount', 
    aggfunc='sum'
)

# Redondeo los resultados a 2 decimales para que se vea mejor.
tabla_ingresos = tabla_ingresos.round(2)

# Muestro la tabla.
print(tabla_ingresos)
# Mi conclusión: El canal 'Agent' es el que más ingresos genera, seguido de 'Branch'.
# Los canales online como 'Web' o el 'Call Center' generan bastante menos.
# Parece que el contacto personal sigue siendo muy importante en este negocio.


# 2. Tabla pivote: valor medio del cliente (CLV) por género y educación.
print("Análisis del valor medio del cliente por género y nivel de estudios:")

# Creo la tabla pivote.
# Esta vez quiero la media ('mean') del 'customer_lifetime_value'.
# Y quiero verlo cruzando 'gender' y 'education'.
tabla_clv = df_marketing.pivot_table(
    index='education', 
    columns='gender',
    values='customer_lifetime_value', 
    aggfunc='mean'
)

# Redondeo los valores para que sean más fáciles de comparar.
tabla_clv = tabla_clv.round(0).astype(int) # Lo convierto a entero para que se vea más limpio

# Muestro la tabla.
print(tabla_clv)
# Mi conclusión: No parece haber una gran diferencia en el valor del cliente (CLV) ni por género
# ni por nivel de estudios. Los valores son bastante parecidos en todas las categorías.
# Quizás el nivel de estudios no es un buen indicador para predecir el valor de un cliente en esta empresa.

Análisis de ingresos por canal de venta:
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04
Análisis del valor medio del cliente por género y nivel de estudios:
gender                   F     M
education
Bachelor              7874  7704
College               7749  8052
Doctor                7329  7415
High School or Below  8675  8150
Master                8157  8169

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here